// Headings Desktop
$desktop-heading1: 2.5em;
$desktop-heading2: 2.1875em;
$desktop-heading3: 1.75em;
$desktop-heading4: 1.5em;
$desktop-heading5: 1.3125em;
$desktop-heading6: 1em;
$desktop-heading7: 0.6875em;

// Mobile Headings
$mobile-heading1: 1.5em;
$mobile-heading2: 1.3125em;
$mobile-heading3: 1em;
$mobile-heading: 0.6875em;

// Colors 
$dark-blue: #445EA0;
$yellow: #FFD400;
$light-blue: #C0EBFB;
$light-purple: #A687FB;
$dark-purple: #7152C6;
$red: #FE5B60;
$medium-blue: #2979FF;
$grey: lighten(#000000, 60%);;

